@layer components {
  .btn {
    @apply text-sm font-medium px-4 py-1.5 rounded-sm cursor-pointer flex items-center justify-center duration-150;
    @apply bg-sidebar hover:bg-slate-300 text-accent-foreground;
    @apply disabled:opacity-50 disabled:cursor-not-allowed;
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 ring-offset-background;
  }

  .btn-chill {
    @apply text-gray-500 dark:text-gray-400;
    @apply hover:border-gray-500 dark:hover:border-gray-800;
    @apply hover:bg-gray-500/10 dark:hover:bg-gray-500/20;
    @apply active:bg-gray-500/20;
    @apply focus-visible:ring-gray-500 dark:focus-visible:ring-gray-800;
  }

  .btn-white {
    @apply text-white dark:text-gray-200;
    @apply hover:border-white dark:hover:border-gray-800;
    @apply hover:bg-white/10 dark:hover:bg-white/20;
    @apply active:bg-white/20;
    @apply focus-visible:ring-white dark:focus-visible:ring-gray-800;
  }

  .btn-primary {
    @apply text-green-500 dark:text-green-400;
    @apply hover:border-green-500 dark:hover:border-green-800;
    @apply hover:bg-green-500/10 dark:hover:bg-green-500/20;
    @apply active:bg-green-500/20;
    @apply focus-visible:ring-green-500 dark:focus-visible:ring-green-800;
  }

  .btn-secondary {
    @apply text-blue-500 dark:text-blue-400;
    @apply hover:border-blue-500 dark:hover:border-blue-800;
    @apply hover:bg-blue-500/10 dark:hover:bg-blue-500/20;
    @apply active:bg-blue-500/20;
    @apply focus-visible:ring-blue-500 dark:focus-visible:ring-blue-800;
  }

  .btn-warning {
    @apply text-orange-500 dark:text-orange-400;
    @apply hover:border-orange-500 dark:hover:border-orange-800;
    @apply hover:bg-orange-500/10 dark:hover:bg-orange-500/20;
    @apply active:bg-orange-500/20;
    @apply focus-visible:ring-orange-500 dark:focus-visible:ring-orange-800;
  }

  .btn-danger {
    @apply text-red-500 dark:text-red-400;
    @apply hover:border-red-500 dark:hover:border-red-800;
    @apply hover:bg-red-500/10 dark:hover:bg-red-500/20;
    @apply active:bg-red-500/20;
    @apply focus-visible:ring-red-500 dark:focus-visible:ring-red-800;
  }

  .btn-private {
    @apply text-violet-500 dark:text-violet-400;
    @apply hover:border-violet-500 dark:hover:border-violet-800;
    @apply hover:bg-violet-500/10 dark:hover:bg-violet-500/20;
    @apply active:bg-violet-500/20;
    @apply focus-visible:ring-violet-500 dark:focus-visible:ring-violet-800;
  }

  .btn-cancel {
    @apply text-teal-500 dark:text-teal-400;
    @apply hover:border-teal-500 dark:hover:border-teal-500;
    @apply hover:bg-teal-500/10 dark:hover:bg-teal-500/20;
    @apply active:bg-teal-500/20;
    @apply focus-visible:ring-teal-500 dark:focus-visible:ring-teal-700;
  }

  .btn-dead {
    pointer-events: none;
  }
  .btn-square {
    @apply rounded-none;
  }

  .btn-sm {
    @apply text-sm py-1.5 px-3.5;
  }
  .btn-xs {
    @apply text-sm py-1 px-2;
  }
}
