<div class="overlay-container gradient">
  <div class="overlay-title"><span><img class="user-avatar" src="[[[user_avatar]]]" width="36" height="36" alt="" /></span>Hi, I'm [[[channel_name]]]</div>

  <div class="stat-row">
    <span class="stat-label">Followers:</span>
    <span class="stat-value">[[[followers_total]]]</span>
  </div>

  <div class="stat-row">
    <span class="stat-label">Latest Follower:</span>
    <span class="stat-value">[[[followers_latest_user_name]]] ([[[followers_latest_date]]])</span>
  </div>

  <div class="stat-row">
    <span class="stat-label">Subscribers:</span>
    <span class="stat-value">[[[subscribers_total]]]</span>
  </div>
</div>
